{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header"}}
    <style>
        h3 {
            font-family: "Brush Script MT", cursive; font-size: 48px; font-style: normal;
        }
    </style>
</head>
<body style="background-color: rgb(94, 71, 57);">
    {{template "nav"}}
    <div id="background"></div>


    <h2 id = "yard" class="text-center" style="margin-top: 0.3em; text-shadow: black 2px 2px;">
        <img src="/static/img/logo.png" class="img-responsive" style="max-height: 175px;">
    </h2>
    
    

    <h3 style="color: white; text-shadow: black 5px 5px;" class="text-center">A local listings aggregate</h3>
        
    </div>

    <div id="box">
        
        <button id="boxChild" type="button" class="btn btn-secondary btn-lg" style="background-color: #61503d;">
            <a href="/view">Search Now!</a>
        </button>
    </div>

    

    
        
                
            
           

            

        
        
    

   


</body>
</html>
{{end}}