{{define "view"}}
<!DOCTYPE html>
<html en="en">
    <head>
		<meta charset="UTF-8">

		
		
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/view.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    </head>
    <body>
		{{template "nav"}}
		
		<div class="container" style="margin-top: 1%;">

				<form id="search">

					<div class="form-row">
						<div class="form-group col-lg-6">
							<label for="formGroupInputLarge">Item</label>
							<input class="form-control input-lg" type="search" id="formGroupInputLarge" placeholder="Search for listings" name="query">
						</div>
						<div class="form-group col-lg-2">
							<div class="custom-control custom-checkbox checkbox-lg" style="margin-top: 1.3em;">
								<input type="checkbox" class="custom-control-input" id="enableCraig" checked>
								<label class="custom-control-label" for="enableCraig" style="text-align: center;">Use<br>Craigslist</label>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-lg-3">
							<label for="listingPriceMin">Minimum Price</label>
    						<input class="form-control input-lg" type="number" id="listingPriceMin" placeholder="Minimum Price">
						</div>
						<div class="form-group col-lg-3">
							<label for="listingPriceMax">Maximum Price</label>
							<input class="form-control input-lg" type="number" id="listingPriceMax" placeholder="Maximum Price"></input>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-lg-6">
							<div class="slidecontainer">
								<label for="customDistance">Distance</label>
								<input type="range" class="custom-range" id="distanceSlider" min="0" max="100" value="50" step="5" id="customDistance" oninput="updateDistance(this.value);">	
							</div>
						</div>
						<div class="form-group col-lg-2">
							<div class="distanceValue">
								<input type="text" id="distanceDisplay" value="">
							</div>
						</div>
					</div>
					
						
				  
					  
					  
				</form>

			<div class="row map-container">
				<div class="col-lg-12" id="mapid"></div>

				

			</div>

		</div>
	
	</body>
	<script src="/static/js/query.js"></script>
</html>
{{end}}
