#view-page {
	height: 100vh;
}

#view-page .row {
	height: 100%;
}


=======
.map-container {
	     height: 80vh;
		 width: 100%;
	 }

  
>>>>>>> 6dd3ad612d9c5ceb92ebc37e3d3f5cdcca8832b2
#mapid {
	height: 100%;
	width: 100%;
}

.view {
	margin-top: 1vh;
	color: black;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}

