#view-page {
	height: 100vh;
}

#view-page .row {
	height: 100%;
}
.map-container {
	     height: 80vh;
		 width: 100%;
	 }

  
	  
=======
#mapid {
	width: 100%;
	height: 100%;
}

.view {
	margin-top: 1vh;
	color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}
>>>>>>> 104ba1c644230db3f62c79d1695ebbd9926cc3a6
